/* ====================================
================MAIN=================
=====================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,500,300);


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

html,
body {
    color: #777;
    width: 100%;
    height: 100%;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;   
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    font-family: "inconsolata",sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.text-vertical-center-2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: 100px;
}

/*70px*/
.text-vertical-center-2 h1{
    margin-left: 70px;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.japan-text {
    font-family: "Kozuka Gothic Pr6N";
}

@media (max-width:450px) {h5{letter-spacing: 0}}
@media (min-width:451px) {h5{letter-spacing: 10px}}

h3, h5 {
    font-size:3.5875rem;
    color: #333;
	line-height: 2.25;
	font-family:Calibri,Arial,Roboto,sans-serif;
	font-weight: 200;
}

@media (max-width: 372px) {h3{letter-spacing: 5px;}}
@media (min-width: 373px) {h3{letter-spacing: 9px;}}


h4{
    font-size: 25px;
    color: #000;
}

.txt-title {
    text-transform: lowercase;
    font-size: 36px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.text-mute-x {
    color: #387b5b;
}

.light {
    font-weight: lighter;
}

a,
a:active,
a:hover,
a:focus{
    text-decoration: none;
}

.bar-nav-title {
    padding-left: 20px;
}

ul.feature-icons {
    list-style: outside none none;
    padding-left: 1cm;
}

ul.feature-icons li {
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px 0.75cm;
    padding: 0.35em 0px 0px 3.5em;
    position: relative;
    width: 48%;
    font-size: 18px;
    text-align: left;
}
ul.feature-icons li:before {
    background: #1CFF94;
    position: absolute;
    color: #333;
    display: block;
    height: 1cm;
    line-height: 1cm;
    top: 0;
    left: 0;
    width: 1cm;
    text-align: center;
    border-radius: 100%;
}


/*h1, h2, p {text-shadow: 0px 0px 4px #00c382}*/

/* ====================================
=============color-pallette============
=====================================*/
.green-neon {color: #1CFF94}

.main-bg, .main-pg-x {color: #222629}
.mid-gray {color: #222629}

.white {color: #ddd}

.pure-white {color: #fff}

.green {color: #1CFF94}

.orange {color: #F0AD4E}

.red {color: #D9534F}

.blue {color: #428BCA}

.lite-blue {color: #5BC0DE}

.yellow {color: #f0f04e}

.neon {
	text-shadow: 0px 1px 0px #ffffff, 0px 2px 0px #91ffbe, 0px 3px 0px #67ffa5, 0px 4px 0px #3fff8d, 0px 5px 0px #19ff77, 0px 6px 0px #00f263, 0px 7px 0px #00c852, 0px 8px 15px #009c40;
font-weight: 900;
}

.blackish {
	text-shadow: 0px 1px 0px #201C1C, 0px 2px 0px #a6d0b8, 0px 3px 0px #67FFA5, 0px 4px 0px #3FFF8D, 0px 5px 0px #19FF77, 0px 6px 0px #00F263, 0px 7px 0px #00C852, 0px 8px 15px #009C40;
    font-weight: 900;
	color: #ddd;
}


.gr-neon {text-shadow: 0px 0px 1px #009c40, 0px 0px 2px #009c40, 0px 0px 4px #009c40, 0px 0px 8px #009c40}

.bl-neon {text-shadow: 0px 0px 8px #008a9c}

.rd-neon {text-shadow: 0px 0px 8px #9c0000}

.semiblack {color: #777}
.blck {color: #222629}

/* ====================================
============box-container==============
=====================================*/

.contentbox (min-width: 1200px){
    width: 970px;	
}
.contentbox (min-width: 992px){
    width: 970px;
}
.contentbox (min-width: 768px){
    width: 750px;
}
.contentbox {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
	.contentbox {
		width:750px
	}
}
@media (min-width:992px) {
	.contentbox {
		width:970px
	}
}
@media (min-width:1200px) {
	.contentbox {
		width:970px
	}
}

/* ====================================
================EFFECT=================
=====================================*/

.image-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
	cursor: pointer;
}

.image-wrap img {
	width: 100%;	
}

.image-wrap  .hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.image-wrap:hover .hover-wrap,
.image-wrap.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.image-wrap .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #DE5E60;
	
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.image-wrap .hover-wrap .overlay-text-thumb {
	position: absolute;
	width: 100%;
	height: 32px;
	top: 50%;
	margin: -16px 0 0 0;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	
	opacity: 1;
	filter: alpha(opacity=100);
}


/*all image-wrap completely useless*/

.change-font-ttl{
    font-family: "inconsolata",sans-serif;
}

.change-font{
    font-family: "inconsolata",sans-serif;
    font-size: medium;
    font-weight: 300;
}

.shade{
    text-shadow: -3px 1px 5px #333, 2px 2px 5px #222629, 3px 3px 5px #171A19;
}

.strike {
    text-decoration: line-through;
}

.link-out, .link-out1{
    text-decoration: none;
    background-color: transparent;
    color: #14d47a;
    font-weight: bold;
    border-bottom: 1px dotted;
}

.link-out:hover, .link-out1:hover{
    text-decoration: none;
    border-bottom: none;
	transition: all 125ms ease-in-out;
}

.link-out1{background-color: #0d0d0d; padding: 2px; margin-bottom: 3px;}
.link-out1:hover{color: #F3F3F3}

.link-out:hover{
	text-shadow: 1.5px 0px 0px #71E6E6, -1.5px 0px 0px #F871B5;
	color: #222629;
}

/*.link-out::before {
    height: 2px;
    background-color: #000;
    -webkit-transition: all 125ms ease-in-out;
    -moz-transition: all 125ms ease-in-out;
    -o-transition: all 125ms ease-in-out;
    -ms-transition: all 125ms ease-in-out;
    transition: all 125ms ease-in-out;
    left: 0px;
    content: " ";
    position: absolute;
    width: 0%;
    display: inline-block;
    margin-top: 16px;
}
.link-out:hover:before {
  width:100%;
}*/

#logo{
	margin-top: 10px;
}

#logo-pic {
    z-index: 1;
    position: absolute;
    top: 12px;
    left: 0px;
    border-top-width: 0px;
    padding-top: 0px;
}

.btn-pic {
    border-radius: 0;
    color: #1CFF94;
    font-size: 18px;
    line-height: 1.33;
}


/*X-SAMPLE TRY-DATA*/

#px-banner {
    margin-top: 2em;
    border-radius: 6px 6px 6px 6px;
    background-image: url("images/px-bg.svg"), url("images/px-banner.jpg");
    background-position: center center, center center;
    background-size: auto auto, cover;
    background-attachment: scroll, fixed;
    color: rgb(255, 255, 255);
    padding: 4em;
    font-weight: 400;
}

#px-banner .px-button {
    transition: background-color 0.15s ease-in-out 0s;
    width: 25%;
    vertical-align: middle;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    background: none repeat scroll 0% 0% rgb(82, 203, 238);
    border-radius: 4px 4px 4px 4px;
    color: white !important;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 0px none;
    height: 3.25em;
    line-height: 3.25em;
    padding: 0px 2em;
    white-space: nowrap;
}
    
.icon.major {
    text-align: center;
    cursor: default;
    background-color: rgb(55, 192, 251);
    background-image: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    color: white;
    border-radius: 100% 100% 100% 100%;
    display: inline-block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgb(224, 224, 224);
    margin: 0px 0px 2em;
}
    
.btn-dark-r {
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #E4E4E4 inset;
}
    
.btn-dark-r:hover,
.btn-dark-r:active{
    background-color: #fff;
    color: #333;
}

.btn-dark-r:focus {
    background-color: transparent;
    color: #fff;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: #333;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: #1CFF94;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: #277651;
}


.btn-nav {
    border-radius: 0;
    color: #ddd;
    background-color: transparent;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-nav:active {
    color: #333;
    background-color: #1CFF94;
}

/* ===================================
=======Custom Horizontal Rule=========
=================================== */

hr.style, hr.style-menu {
    max-width: 200px;
    padding: 0;
    border: none;
    border-top: medium double #1CFF94;
    color: #333;
    text-align: center;
    background: #1CFF94;
}

hr.style:after {
    content: "::";
    display: inline-block;
    position: relative;
	color: #1CFF94;
    top: -0.925em;
    font-size: 1.5em;
    padding: 0 0.25em 0.25em 0.25em;
}

hr.style-menu:after {/*for list area*/
    content: "::";
    display: inline-block;
    position: relative;
    top: -1.10em;
    right: 0.75em;
    font-size: 1.5em;
    color: #1CFF94;
    padding: 0 0.25em 0.25em 0.25em;
}

/*====================================
==============Side Menu===============
====================================*/

element {
    backface-visibility: hidden;
    transition: -moz-transform 0.5s ease 0s, opacity 0.5s ease 0s;
}

@media (min-width: 751px) {
	.project, .skill, .about, .portfolio, .contact{
		margin-left: 70px
	}
	.pp {margin-left: 40px}
}
	
@media (max-width: 750px) {
	#header {
		display: none;
	}
	.project, .skill, .about, .portfolio, .contact{
		margin-left: 0px
	}
	.pp {margin-left: 0px}
	
	#siderman, #siderman-x{
		display: none;
	}
}




#header {
    width: 70px;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #F3F3F3;
    color: rgb(255, 255, 255);
    text-align: center;
	z-index: 10;
}
#header .icons {
    font-size: 1.5em;
    margin: 0px 0px 1em;
    text-align: center;
}
#header .icons ul li{
    list-style: none;
}
#header .bottom, #sidebar-wrapper ul.bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 90px;
    height: 100%;
    margin-right: -90px;
    overflow-y: auto;
    background: #222;
    padding: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 90px;
    margin: 0;
    padding: 0px 0px 10px 10px;
    list-style: none;
}

.sidebar-nav .widget-area {
    border-top: 3px solid #1CFF94;
}
.widget-area {
    background: none repeat scroll 0% 0% #333; 
}

.rearrange {
    padding-top: 10px;
}

.banner-area {
    text-align: center;
    padding-top: 10px;
}
/*
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 100%;
    background: none repeat scroll 0% 0% #202020;
    */

.sidebar-nav li.li {
    text-indent: 10px;
    line-height: 40px;
}

/*.sidebar-nav li.bottom {
    text-indent: 10px;
    line-height: 40px;
}*/

.sidebar-nav li.li a.a {
    display: block;
    text-decoration: none;
    color: #999;
    background: none repeat scroll 0% 0% #333;  
    border-left: 0.5px solid #1CFF94;
    border-bottom: 0.1px solid #1CFF94;
}

.sidebar-nav .widget-area li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
	border-right: 10px solid #1CFF94;
}

.sidebar-nav .widget-area li a:active,
.sidebar-nav .widget-area li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
	color:#1CFF94;
}

#menu-toggle:hover {
	color:#f3f3f3;
	text-shadow: none;
}

#sidebar-wrapper.active {
    right: 90px;
    width: 90px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    padding-right: 16px;
    background-color: #1CFF94;
}

.toggle:hover {
    color: #1CFF94;
}

i.sizing-button{
    font-size: 20px;
    box-sizing: border-box;
}

.goto-next {
    border: 0px none;
    bottom: 0px;
    display: block;
    height: 5em;
    left: 50%;
    margin: 0px 0px 0px -60px;
    overflow: hidden;
    position: absolute;
    text-indent: 10em;
    white-space: nowrap;
    width: 10em;
    z-index: 1;
}


.goto-next:before {
    background-image: url(../img/arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 1.5em;
    left: 50%;
    margin: -0.75em 0px 0px -1em;
    position: absolute;
    top: 50%;
    width: 2em;
    z-index: 1;
}

/* ============================================
====================HEADER=====================
============================================ */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    -o-background-size: auto;
    background-attachment: fixed;
	background-image: url("../img/NH1nLsV.png");
	z-index: 11;
}

.ico{
    text-shadow: none;
}

.ico:hover{
    text-shadow: 0px 0px 1px #009C40, 0px 0px 2px #009C40, 0px 0px 4px #009C40, 0px 0px 8px #009C40;
}

.img-main {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.maintext {
	background-color: #FFF;
	color: #171A19;
	font-size: 30px;
}

.skill, .project, .portfolio {
	padding: 120px 0;
}

.about, .skill, .project, .portfolio {
	padding: 90px 0;
}

h2 {letter-spacing: 3.5px}

/* About */

.about {
    background-color: #f3f3f3;
}

@media (min-width:1190px) {.bio {margin: 3px 0 0 -28.5px;}}
@media (min-width:1190px) {span.in-image {visibility: hidden;}}

.x1 h3{margin-top: 13px;}
.x2 h3{margin-top: 3px;}

.about-icon{
	border: 1px solid #0eb493;
	color: #0eb493;
	float: left;
}

.in-image{
	position: relative;
	margin-left: -100px;
	color: #ffffff;
	position: absolute;
	font-size: 18px;
	background-color: rgba(128, 239, 0, 0.49);
	text-shadow: 1.75px 0px 0px #71E6E6, -1.75px 0px 0px #F871B5;
}






.about-desc {
  margin-left: 70px;
  position: relative;
}

.about-item {
  color: #0eb493;
  float: left;
  padding: 10px 13px;
	margin-right: 20px;
}

.about-desc h1 {
  color: #777;
  font-size: 20px;
  font-weight: 600;
}

.x1 h1{margin-top: 13px;}
.x2 h1{margin-top: 3px;}

.about-icon{
  border: 1px solid #0eb493;
  border-radius: 0;
  color: #0eb493;
  float: left;
}




.q0{padding: 10px 12px;}
.q1{padding: 10px 13px;}
.q2{padding: 10px 9px;}
.q3{padding: 10px 15px;}
.q4{padding: 10px 14px;}
.q5{padding: 10px 11px;}






.hobby-tt {
font-size: 45px;
font-weight: 100;
color: #3f3f3f;
position: absolute;
white-space: nowrap;
-webkit-transform: rotate(-900deg);
transform: rotate(-90deg);
-webkit-transform-origin: 100% 120%;
transform-origin: 100% 120%;
z-index: 3;
letter-spacing: 5px;
margin: -115px 0 0 -95px;
}






/* Services-skill */

.skill {
	background: #f3f3f3;
}

.skill-item {
    margin-bottom: 30px;
}

.skill-title{
	background-color: #222629;
	text-shadow: 1.25px 0px 0px #71E6E6, -1.25px 0px 0px #F871B5;
	color: #f3f3f3;
	padding: 15px;
	font-size: 20px;
	letter-spacing: 10px;	
	font-weight: 100;
}

.progress{
	background-color: #585858;
}

.progress-bar {/*border-radius: 4px;*/
    height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #222629;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.progress-bar-info,
.progress-bar-danger,
.progress-bar-warning
.progress-bar-info,
.progress-bar-success {
    font-size: 12px;
    line-height: 20px;
    color: #333;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
	font-family: "inconsolata";
    color: #222629;
	height: 600px;
    background: #f3f3f3 ;
	letter-spacing: 15px;
}

.per-quote{
    font-size: 2pc;
}


/* Project */

.project{
    background-color: #171a19;
	padding: 100px 0 100px 0;
}

.project-item {
    margin-bottom: 30px;
}

.thumbnail-x {
    display: block;
    padding: 0;
	border: 0;
    margin: 0;
    background-color: #222629;
    border-radius: 30px 0px ! important;
    line-height: 1.42857;
    transition: border 0.2s ease-in-out 0s;
}

.ongoing-text, .next-text {
    padding-bottom: 3px;
	margin-left: -15px;
	margin-top: -15px;
}

.ongoing-text {
	background: #1CFF94;
    width: 120px;
    position: absolute;
	color: #222629;
	-webkit-transform: skew(10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
}

.next-text {
    width: 80px;
    position: relative;   
	border-width: 0 0 8px 2px; border-style: ridge;
	border-color: antiquewhite;
}

.the-text {
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
	border-color: rgb(18, 18, 18);
border-spacing: 15px;
}

.thumbnail-x > img {
    margin-right: auto;
    margin-left: auto;
}
.thumbnail-x > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumbnail-x .caption {
    padding: 9px;
    color: #333;
}

/* Portfolio */

.portfolio {
	background: url(../img/NH1nLsV-invert.png) repeat fixed center center;
	padding: 125px 0 125px 0;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
    margin-left: 70px;
    background-color: #222629;
}

.call-to-action .btn {
    margin: 10px;
}


/* Footer */

footer {
	background: #f2f2f2;
    padding: 100px 0;
    margin-left: 70px;
}

@media (min-width: 751px) {
	footer {
		padding-left: 70px;
	}
}
	
@media (max-width: 750px) {
	footer {
		padding-left: 0;
	}
}
@media (min-height: 700px) {
	footer {
		padding-top: 160px;
	}
}

@media (max-height: 699px) {
	footer {
		padding-top: 100px;
	}
}
		
@media (max-height: 660px) {
	footer {
		padding-top: 75px;
	}
}

@media (max-height: 480px) {
	footer {
		padding-top: 40px;	
	}
}

@media (max-height: 500px) {.naviclick {margin-top: 80px;}}
@media (min-height: 501px) {.naviclick {margin-top: 100px;}}
@media (min-height: 550px) {.naviclick {margin-top: 125px;}}
@media (min-height: 580px) {.naviclick {margin-top: 175px;}}
@media (min-height: 750px) {.naviclick {margin-top: 198px;}}
@media (min-height: 767px) {.naviclick {margin-top: 220px;}}

.lf1 {margin-left: 1px;}
.lf2 {margin-left: 2px;}
.lf3 {margin-left: 3px;}
.lf4 {margin-left: 4px;}
.lf5 {margin-left: 5px;}
.lf6 {margin-left: 6px;}
.lf7 {margin-left: 7px;}
.lf8 {margin-left: 8px;}
.lf9 {margin-left: 9px;}
.lf10 {margin-left: 10px;}

.mighty{z-index:99999}

.siderman, .siderman-x {
    height: 100%;
    background: transparent linear-gradient(to bottom, #1CFF94 0%, #35c771 90%, #009c40 100%) repeat scroll 0% 0%;
    width: 6px;
}

.siderman {z-index: 50000; left: 0px;}
.siderman-x {z-index: 15; right: 0px;}

.big {font-size: 17.5pt; margin: 10px 0 10px 0;}
.smally {font-size: 15.5px; letter-spacing: 2px;}

.a1 {margin-top: 40px;}
.b2 {margin-top: 80px; margin-left: -153.5px}
.c3 {margin-top: 120px;}
.d4 {margin-top: 160px; margin-left: -126.75px}
.e5 {margin-top: 200px;}

.button {padding: 10px 16px;
	font-size: 31px;
	line-height: 1.33;
	border-radius: 0;
    background-color: transparent;
	letter-spacing: 0;
	font-weight: 900;
}

.ig {box-shadow: 0px 0px 0px 5px #6d2340 inset; color: #6d2340 !important; font-family:serif;}

.da {box-shadow: 0px 0px 0px 5px #009c40 inset; color: #009c40 !important; font-family:Dosis;}

.pxv {box-shadow: 0px 0px 0px 5px #0083d4 inset; color: #0083d4 !important;}



.social-links {
  margin-top: 5%;
	padding: 0;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: #777;
  display: block;
  margin: 0 6px;
}

.social-links li a:hover {
  color: #009c40;
}

ul {list-style: none}

a {color: #777777}
a:hover {color: #009c40}

.fb:hover {color: #03329a}
.linkedin:hover {color: #062560}
.tm:hover {color: #223844}
.in:hover {color: #7200a5}
.gi:hover {color: #222629}
.de:hover {color: #0076ff}
.re:hover {color: #d94300}
.ls:hover {color: #d61000}