body{
font-family: 'Roboto Slab', serif;
}
.bio{
width:600px;
height:200px;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
text-align:center;
}
h2{
width:600px;
height:200px;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
text-align:center;
}
