body{
font-family: 'Dosis', sans-serif;
}
.title{
width:600px;
height:200px;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin-top:200;
text-align:center;
}
.sns{
width:600px;
height:200px;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
margin:auto;
text-align:center;
}
